<footer class="bg-dark text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 py-3">
                <a href="https://www.youtube.com/@targetdevelopers2585/videos" target="_blank" class="text-white">
                    <i class="fab fa-youtube"></i> YouTube
                </a>
            </div>
            <div class="col-md-2 py-3">
                <a href="https://buymeacoffee.com/learning2pl" target="_blank" class="text-white">
                    <i class="fab fa-github"></i> Buy
                </a>
            </div>
            <div class="col-md-2 py-3">
                <a href="#" target="_blank" class="text-white">
                    <i class="fab fa-github"></i> Live Demo
                </a>
            </div>
            <div class="col-md-2 py-3">
                <a routerLink ="/devinfo" routerLinkActive="active" class="text-white" style="cursor:pointer">
                    <i class="fab fa-github"></i> Developer
                </a>
            </div>
        </div>
    </div>
</footer>