
<!-- side navbar -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="https://www.youtube.com/@targetdevelopers2585/videos" target="_blank">You Tube</a>
      <a mat-list-item href="https://buymeacoffee.com/learning2pl" target="_blank">Source Code</a>
      <a mat-list-item href="https://shivam-sahu-portfolio.onrender.com/" target="_blank">Developer</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="sticky">
      <button class="side-menu" mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Article Transformer</span>
      <div class="spacer"></div> <!-- This pushes the items to the right -->

      <div class="right-items">
          <a  href="https://www.youtube.com/@targetdevelopers2585/videos" target="_blank">You Tube</a>
          <a href="https://buymeacoffee.com/learning2pl" target="_blank">Source Code</a>
          <a href="https://shivam-sahu-portfolio.onrender.com/" target="_blank">Developer</a>
        </div>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
     
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->

<footer class="bg-dark text-white">
  <div class="container">
      <div class="row justify-content-center text-center">
          <div class="col-md-2 py-3">
              <a href="https://www.youtube.com/@targetdevelopers2585/videos" target="_blank" class="text-white">
                  <i class="fab fa-youtube"></i> YouTube
              </a>
          </div>
          <div class="col-md-2 py-3">
              <a href="https://buymeacoffee.com/learning2pl" target="_blank" class="text-white">
                  <i class="fab fa-github"></i> Source Code
              </a>
          </div>
          <div class="col-md-2 py-3">
              <a href="https://shivam-sahu-portfolio.onrender.com/" target="_blank" class="text-white" style="cursor:pointer">
                  <i class="fab fa-github"></i> Developer
              </a>
          </div>
      </div>
  </div>
</footer>




