<!-- enter article section -->
<div class="container mt-5">
  <div class="flex items-center justify-center h-full">
    <textarea rows="5" class="w-100 mt-3 fs-3 pt-4 ml-1 ps-4" placeholder="Enter Your Article Here..."
     [(ngModel)]="inputString"
     [ngClass]="{'border-danger': !isUserEnterText}"
    
     ></textarea>
     <!-- [ngStyle]="{'border': isUserEnterText ? '' : '2px solid red'}" -->
  <div class="d-flex justify-content-center">  
    <button mat-flat-button color="warn" (click)="textClear()" class="mt-2">
    Clear
  </button>
</div>
<!-- button section -->
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let button of buttons">
      <button mat-flat-button color="primary"class="w-100 mb-2 btn fs-6" (click)="handleClick(button.label)">
        {{ button.label }}
      </button>
    </div>
  </div>
</div>

<!-- your transformed article popup -->
<div class="modal"
   [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-dialog justify-content-center">
    <div class="modal-content modal-dialog-centered text-center mt-4">
      <div class="modal-header">
        <div class="modal-header">
          <h1 class="modal-title w-100 mt-2">Your Transformed Article</h1>
        </div>
      </div>
      <div class="modal-body">
        <h1>{{ textTransformed }}</h1><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Replace popup  -->
<div class="modal"  [ngStyle]="{ display: isPopup ? 'block' : 'none' }">
  <div class="modal-dialog justify-content-center">
    <div class="modal-content modal-dialog-centered text-center mt-4">
      <div class="modal-header">
        <div class="modal-header">
          <h1 class="modal-title w-100 mt-2">Replace</h1>
        </div>
      </div>
      <div class="modal-body">
     <form [formGroup]="replaceform">
      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" class="form-control" formControlName="existingWord" id="input1" placeholder="Existing Word">
        </div>
        <div class="form-group col-md-12 mt-3">
          <input type="text" class="form-control" formControlName="newWord" id="input2" placeholder="New Word">
        </div>
      </div>
      <div class="form-row mt-3 ms-5">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6"> <button type="button" class="btn btn-secondary" (click)="submit()">
          Replace
        </button></div>
       
      </div>
     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- find word popup -->
<div class="modal"  [ngStyle]="{ display: isPopupInclude ? 'block' : 'none' }">
  <div class="modal-dialog justify-content-center">
    <div class="modal-content modal-dialog-centered text-center mt-4">
      <div class="modal-header">
        <div class="modal-header">
          <h1 class="modal-title w-100 mt-2">Find Word</h1>
        </div>
      </div>
      <div class="modal-body">
     <form [formGroup]="findForm">
      <div class="form-row">
        <div class="form-group col-md-10">
          <input type="text" class="form-control" formControlName="enterWord" id="input1" placeholder="Enter Word">
        </div>
      </div>
      <div class="form-row mt-3 ms-5">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6"> <button type="button" class="btn btn-secondary" (click)="find()">
          Find
        </button></div>
       
      </div>
     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>