.mat-drawer-container {
    display: inline;
  }
  
  .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
    .main-content {
      padding: 20px;
    }
  
    .mat-toolbar {
      background: #fff35a;
  }
  
  
    